    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <body>
        <div th:fragment="experience">
            <div class="container">
                <header>
                    <h2 class="section-title"><i class="fa fa-desktop"/><span th:text="' '+#{experience.header}"/></h2>
                </header>
                
                 <article class="col-sm-12">
                    <div class="row">
                        <div class="panel-group" id="accordion2">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                     <h3>
		                                <span th:text="' '+#{experience.company.one}"/>
		                                <a id="garminDetailsCollapse" class="pull-right" data-toggle="collapse" data-parent="#accordion2" href="#garminDetails"><i class="fa fa-plus-square"/></a>
		                                <a target="_blank" href="http://www.garmin.com/en-US"><i id="flashIcon" class="fa fa-external-link-square"/></a>
		                                <i class="fa fa-globe"/>
		                                <span th:text="' '+#{experience.company.one.location}"/>
		                            </h3>
		                            <h4>
		                                <i class="fa fa-building"/>
		                                <span th:text="' '+#{experience.company.one.dept}"/>
		                                <i class="fa fa-desktop"/>
		                                <span th:text="' '+#{experience.company.one.role}"/>
		                                <i class="fa fa-calendar"/>
		                                <span th:text="' '+#{experience.company.one.duration}"/>
		                            </h4>
                                </div>
                                
                                <div id="garminDetails" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-sm-12 justify-text">
                                            <h4><i class="fa fa-trophy"/><span th:text="' '+#{experience.accolades}"/></h4>
                                            <i class="fa fa-star padAccolade"/><span th:text="' '+#{experience.garmin.award.one}"/><br/>
                                            <i class="fa fa-star padAccolade"/><span th:text="' '+#{experience.garmin.award.two}"/><br/>
                                            <i class="fa fa-star padAccolade"/><span th:text="' '+#{experience.garmin.recognition.one}"/><br/>
                                            <i class="fa fa-star padAccolade"/><span th:text="' '+#{experience.garmin.recognition.two}"/>
			                                <div class="col-sm-12 blankDiv5" />
			                                <h4><i class="fa fa-tasks"/><span th:text="' '+#{experience.duties}"/></h4>
			                                <ul>
			                                    <li><span th:text="#{experience.garmin.duty1}" /></li>
			                                    <li><span th:text="#{experience.garmin.duty2}" /></li>
			                                    <li><span th:text="#{experience.garmin.duty3}" /></li>
			                                    <li><span th:text="#{experience.garmin.duty4}" /></li>
			                                    <li><span th:text="#{experience.garmin.duty5}" /></li>
			                                    <li><span th:text="#{experience.garmin.duty6}" /></li>
			                                    <li><span th:text="#{experience.garmin.duty7}" /></li>
			                                    <li><span th:text="#{experience.garmin.duty8}" /></li> 
			                                </ul>
			                                <h4><i class="fa fa-book"/><span th:text="' '+#{experience.projects}"/></h4>
			                                <dl class="dl-horizontal">
			                                    <dt><h5><span th:text="#{experience.garmin.project.one}"/></h5></dt>
			                                    <dd><span th:text="#{experience.garmin.project.description.one}"/><p><b th:text="' '+#{experience.garmin.project.my.work.one}"/></p></dd>
			                                    <dt><h5><span th:text="#{experience.garmin.project.two}"/></h5></dt>
			                                    <dd><span th:text="#{experience.garmin.project.description.two}"/><p><b th:text="' '+#{experience.garmin.project.my.work.two}"/></p></dd>
			                                    <dt><h5><span th:text="#{experience.garmin.project.three}"/></h5></dt>
			                                    <dd><span th:text="#{experience.garmin.project.description.three}"/><p><b th:text="' '+#{experience.garmin.project.my.work.three}"/></p></dd>
			                                    <dt><h5><span th:text="#{experience.garmin.project.four}"/></h5></dt>
			                                    <dd><span th:text="#{experience.garmin.project.description.four}"/><p><b th:text="' '+#{experience.garmin.project.my.work.four}"/></p></dd>
			                                    <dt><h5><span th:text="#{experience.garmin.project.five}"/></h5></dt>
			                                    <dd><span th:text="#{experience.garmin.project.description.five}"/><p><b th:text="' '+#{experience.garmin.project.my.work.five}"/></p></dd>
			                                </dl>
			                                <h4><i class="fa fa-gear fa-spin"/><span th:text="' '+#{experience.environment}"/></h4>
                                            <span th:utext="' '+#{experience.garmin.project.technology}"/>
			                            </div>
			                            
                                  </div>
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>
		                                <span th:text="' '+#{experience.company.two}"/>
		                                <a id="niprDetailsCollapse" class="pull-right" data-toggle="collapse" data-parent="#accordion2" href="#niprDetails"><i class="fa fa-plus-square"/></a>
		                                <a target="_blank" href="http://www.nipr.com/"><i id="flashIcon" class="fa fa-external-link-square"/></a>
		                                <i class="fa fa-globe"/>
		                                <span th:text="' '+#{experience.company.two.location}"/>
		                            </h3>
		                            <h4>
		                                <i class="fa fa-building"/>
		                                <span th:text="' '+#{experience.company.two.dept}"/>
		                                <i class="fa fa-desktop"/>
		                                <span th:text="' '+#{experience.company.two.role}"/>
		                                <i class="fa fa-calendar"/>
		                                <span th:text="' '+#{experience.company.two.duration}"/>
		                            </h4>
                                </div>
                                
                                <div id="niprDetails" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-sm-12 justify-text">
			                                <h4><i class="fa fa-tasks"/><span th:text="' '+#{experience.duties}"/></h4>
			                                <ul>
			                                    <li><span th:text="#{experience.nipr.duty1}" /></li>
			                                    <li><span th:text="#{experience.nipr.duty2}" /></li>
			                                    <li><span th:text="#{experience.nipr.duty3}" /></li>
			                                    <li><span th:text="#{experience.nipr.duty4}" /></li>
			                                    <li><span th:text="#{experience.nipr.duty5}" /></li>
			                                    <li><span th:text="#{experience.nipr.duty6}" /></li>
			                                    <li><span th:text="#{experience.nipr.duty7}" /></li>
			                                    <li><span th:text="#{experience.nipr.duty8}" /></li> 
			                                    <li><span th:text="#{experience.nipr.duty9}" /></li>
			                                </ul>
			                                <h4><i class="fa fa-book"/><span th:text="' '+#{experience.projects}"/></h4>
			                                <dl class="dl-horizontal">
			                                    <dt><h5><span th:text="#{experience.nipr.project.one}"/></h5></dt>
			                                    <dd><span th:text="#{experience.nipr.project.description.one}"/><p><b th:text="#{experience.nipr.project.my.work.one}"/></p></dd>
			                                    <dt><h5><span th:text="#{experience.nipr.project.two}"/></h5></dt>
			                                    <dd><span th:text="#{experience.nipr.project.description.two}"/><p><b th:text="#{experience.nipr.project.my.work.two}"/></p></dd>
			                                </dl>
			                                <h4><i class="fa fa-gear fa-spin"/><span th:text="' '+#{experience.environment}"/></h4>
			                                <span th:utext="' '+#{experience.nipr.project.technology}"/>
			                            </div>
                                    </div>
                                </div>             
                            </div>
                            
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>
		                                <span th:text="' '+#{experience.company.three}"/>
		                                 <a id="yodleeDetailsCollapse" class="pull-right" data-toggle="collapse" data-parent="#accordion2" href="#yodleeDetails"><i class="fa fa-plus-square"/></a>
		                                <a target="_blank" href="http://www.yodlee.com/"><i id="flashIcon" class="fa fa-external-link-square"/></a>
		                                <i class="fa fa-globe"/>
		                                <span th:text="' '+#{experience.company.three.location}"/>
		                            </h3>
		                            <h4>
		                                <i class="fa fa-building"/>
		                                <span th:text="' '+#{experience.company.three.dept}"/>
		                                <i class="fa fa-desktop"/>
		                                <span th:text="' '+#{experience.company.three.role}"/>
		                                <i class="fa fa-calendar"/>
		                                <span th:text="' '+#{experience.company.three.duration}"/>
		                            </h4>
                                </div>
                                
                                <div id="yodleeDetails" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <div class="col-sm-12 justify-text">
                                            <h4><i class="fa fa-trophy"/><span th:text="' '+#{experience.accolades}"/></h4>
                                            <i class="fa fa-star padAccolade"/><span th:text="' '+#{experience.yodlee.award.one}"/>
			                                <div class="col-sm-12 blankDiv5" />
			                                <h4><i class="fa fa-tasks"/><span th:text="' '+#{experience.duties}"/></h4>
			                                <ul>
			                                    <li><span th:text="#{experience.yodlee.duty1}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty2}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty3}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty4}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty5}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty6}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty7}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty8}" /></li>
			                                    <li><span th:text="#{experience.yodlee.duty9}" /></li>  
			                                </ul>
			                                <h4><i class="fa fa-book"/><span th:text="' '+#{experience.projects}"/></h4>
			                                <dl class="dl-horizontal">
			                                    <dt><h5><span th:text="#{experience.yodlee.project.one}"/></h5></dt>
			                                    <dd><span th:text="#{experience.yodlee.project.description.one}"/><p><b th:text="#{experience.yodlee.project.my.work.one}"/></p></dd>
			                                    <dt><h5><span th:text="#{experience.yodlee.project.two}"/></h5></dt>
			                                    <dd><span th:text="#{experience.yodlee.project.description.two}"/><p><b th:text="#{experience.yodlee.project.my.work.two}"/></p></dd>
			                                </dl>
			                                <h4><i class="fa fa-gear fa-spin"/><span th:text="' '+#{experience.environment}"/></h4>
			                                <span th:utext="' '+#{experience.yodlee.project.technology}"/>
			                            </div>
                                    </div>
                                </div>             
                            </div>
                        </div>
                    </div>
                </article>
              
            </div>
        </div>
    </body>
</html>