<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		
    <head>
        <meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<meta name="keywords" content="Vijay Patil, Vijay, Patil, Swati Deshmukh, Arnav Patil, Illinois Institute of Technology, Chicago, NIPR, National Insurance Producers Registry, NAIC, National Association of Insurance Commissioners, Egen Solutions, Yodlee, Garmin, Navapur, Nandurbar, Dombivali, Somaiya"/>
		<meta name="Description" content="Web Development Enthusiast!!! Presently working as a Internet Application Developer with Garmin. Specialized in front-end and back-end web development"/>
		<meta name="msapplication-TileColor" content="#7EC0EE"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <!-- Open Graph -->
        <meta property="og:title" content="Vijay Patil"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://patilvijayg.com"/>
        <meta property="og:image" content="http://patilvijayg.com/resume/img/Vijay_Patil.jpg"/>
        <meta property="og:description" content="Web Development Enthusiast!!! Presently working as a Internet Application Developer with Garmin. Specialized in front-end and back-end web development"/>
        <meta property="fb:admins" content="736714392"/>
		<title>VIJAY PATIL</title>
        
		<!-- StyleSheets -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" th:href="@{/css/jquery.vegas.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/magnific-popup.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/animate.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/main.min.css}"/>
		
		<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
		<link rel="canonical" th:href="@{http://patilvijayg.com/}"/>
		<link rel="author" href="https://plus.google.com/+VijayPatilG"/>
	</head>
	<body>
	   <div id="header" class="container">
	       <div class="row">
	            <header>
                    <h1 class="text-center text-uppercase"><span th:text="#{welcome.user.name}"/></h1>
                </header>
                <i class="fa fa-envelope-o pull-left"><span th:text="' '+#{contact.contactInfo.email}"/></i>
                <i class="fa fa-phone pull-right"><span th:text="' '+#{contact.contactInfo.phone}"/></i>
	       </div>
	   </div>
	   
		<div class="container" th:include="navigation :: menu"/> 
		<section id="page-welcome" class="page-welcome" th:include="welcome :: welcome"/>
		<section id="page-profile" class="page-profile" th:include="profile :: profile"/>	
		<section id="page-skills" class="page-skills" th:include="skills :: skills"/>
		<section id="page-education" class="page-education" th:include="education :: education"/>
		<section id="page-experience" class="page-experience" th:include="experience :: experience"/>
		<section id="page-portfolio" class="page-portfolio" th:include="portfolio :: portfolio"/>
		<section id="page-contact" class="page-contact" th:include="contact :: contact"/>
		<div id="page-footer" class="page-footer" th:include="footer :: footer"/>
		
		<!-- JavaScripts -->
		<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"/>
		<script th:src="@{/js/jquery.vegas.min.js}"></script>
		<script th:src="@{/js/waypoints.min.js}"></script>
		<script th:src="@{/js/progressbar.js}"></script>
		<script th:src="@{/js/main.js}"></script>
		<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/js/jquery.isotope.min.js}"></script>

		<script type="text/javascript">
			var $buoop = {};
			$buoop.ol = window.onload;
			window.onload = function() {
				try {
					if ($buoop.ol)
						$buoop.ol();
				} catch (e) {
				}
				var e = document.createElement("script");
				e.setAttribute("type", "text/javascript");
				e.setAttribute("src", "//browser-update.org/update.js");
				document.body.appendChild(e);
			}
		</script>
</body>
</html>