<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
	<body>
	    <div th:fragment="profile">
	        <div class="container">
	            <header>
	                <h2 class="section-title"><i class="fa fa-user"/><span th:text="' '+#{profile.header}"/></h2>
	            </header>
	
	            <article class="col-lg-12">
	                <div class="row">
	                    <div class="well col-lg-12">
	                        <div class="pull-right">
	                            <a class="btn btn-primary" th:href="@{/download/Vijay_Patil_Web_Application_Develop.pdf}" download="Vijay_Patil_Web_Application_Develop"><i class="fa fa-print"/> <span th:text="#{profile.print.resume}"/></a>
	                        </div>
							<h3><span th:text="#{profile.user}+' '"/><span id="myAge"/></h3>
							<h4><i class="fa fa-globe"/>
								<a target="_blank" href="https://www.google.com/maps/dir/Olathe,+KS/Olathe,+KS" th:text="' '+#{profile.user.current.location}"/>
								<i class="fa fa-home"/>
								<a target="_blank" href="https://www.google.com/maps/place/Dombivli,+Maharashtra,+India" th:text="' '+#{profile.user.home.location}"/>
								<i class="fa fa-wechat"/>
								<span th:text="' '+#{profile.user.language1}"/>
								<span id="hindiLanguage" th:text="' '+#{profile.user.language2}"/>
								<span id="marathiLanguage" th:text="' '+#{profile.user.language3}"/>
								<span id="gujaratiLanguage" th:text="' '+#{profile.user.language4}"/>
							</h4>
						</div>
						<div class="col-lg-12">
	                        <table class="table borderless">
	                            <tbody>
	                                <tr>
	                                    <td>
	                                        <div class="profile-topic"><h4 th:text="#{profile.user.topic.bio}"/></div>
		                                    <div class="interest-logo">
		                                        <i class="fa fa-user"/>
		                                        <i class="fa fa-graduation-cap"/>
		                                    </div>
	                                        <div id="page-profile-facebook"><a target="_blank" href="https://www.facebook.com/patilvijayg" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"/></a></div>
	                                    </td>
	                                    <td><p class="justify-text" th:text="#{profile.user.topic.bio.description}"/></td>
	                                </tr>
	                                <tr>
	                                    <td>
	                                        <div class="profile-topic"><h4 th:text="#{profile.user.topic.experience}"/></div>
	                                        <div class="interest-logo">
	                                            <i class="fa fa-desktop"/>
	                                        </div>
	                                        <div id="page-profile-linkedin"><a target="_blank" href="https://www.linkedin.com/in/patilvijayg" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"/></a></div>
	                                    </td>
	                                    <td><p class="justify-text" th:text="#{profile.user.topic.experience.description}"/></td>
	                                </tr>
	                                <tr>
	                                    <td>
		                                    <div class="profile-topic"><h4 th:text="#{profile.user.topic.interest}"></h4></div>
		                                    <div class="interest-logo">
		                                        <i class="fa fa-coffee"/>
		                                        <i class="fa fa-leaf"/>
		                                        <img alt="jQuery" id="jqueryLogo" th:src="@{/img/jquery-14.png}"/>
		                                        <img alt="jQuery" id="jqueryuiLogo" th:src="@{/img/jqueryui-14.png}"/>
		                                        <i class="fa fa-css3"/>
		                                        <i class="fa fa-html5"/><br/>
		                                        <i class="fa fa-car"/>
		                                        <i class="fa fa-camera"/>
		                                        <i class="fa fa-film"/>
		                                        <i class="fa fa-music"/>
		                                        <i class="fa fa-cutlery"/><br/>
		                                        <i class="fa fa-apple"/>
		                                        <i class="fa fa-google"/>
		                                    </div>
	                                    </td>
	                                    <td><p class="justify-text" th:text="#{profile.user.topic.interest.description}"/></td>
	                                </tr>
	                            </tbody>
	                        </table>
						</div>
					</div>
	            </article>
	        </div>
		</div>
	</body>
</html>
