<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <body>
        <div th:fragment="skills">
            <div  class="container">
                <header>
                    <h2 class="section-title"><i class="fa fa-code"/><span th:text="' '+#{skills.header}"/></h2>
                </header>
                
                <article class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover">
	                            <tbody>
                                    <tr>
                                        <td class="col-sm-2"><i class="fa fa-laptop fa-fw"/><span th:text="' '+#{skills.languages}"/></td>
                                        <td class="col-sm-10"><span th:text="#{skills.languages.list}"/></td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2"><i class="fa fa-cogs fa-fw"/><span th:text="' '+#{skills.frameworks}"/></td>
                                        <td class="col-sm-10"><span th:text="#{skills.frameworks.list}"/></td>
                                    </tr>
	                                <tr>
	                                    <td class="col-sm-2"><i class="fa fa-globe fa-fw"/><span th:text="' '+#{skills.webtechnology}"/></td>
	                                    <td class="col-sm-10"><span th:text="#{skills.webtechnology.list}"/></td>
	                                </tr>
	                                <tr>
                                        <td class="col-sm-2"><i class="fa fa-flask fa-fw"/><span th:text="' '+#{skills.testing}"/></td>
                                        <td class="col-sm-10"><span th:text="#{skills.testing.list}"/></td>
                                    </tr>
	                                <tr>
                                        <td class="col-sm-2"><i class="fa fa-database fa-fw"/><span th:text="' '+#{skills.database}"/></td>
                                        <td class="col-sm-10"><span th:text="#{skills.database.list}"/></td>
                                    </tr>
	                                <tr>
                                        <td class="col-sm-2"><i class="fa fa-wrench fa-fw"></i><span th:text="' '+#{skills.tools}"/></td>
                                        <td class="col-sm-10"><span th:text="#{skills.tools.list}"/></td>
                                    </tr>
	                            </tbody>
	                        </table>
                        </div>
                        
                        <div class="col-sm-12">
                            <h3 th:text="#{skills.strength.header}"/>
                        </div>
                        
						<div class="col-sm-12">
							<div id="myProgressbar1" class="progress">
								<div class="progress-bar progress-bar-info progress-bar-striped active"
									role="progressbar" aria-valuenow="0" aria-valuemin="0"
									aria-valuemax="100" style="width: 0%">
									<span/>
								</div>
							</div>
						</div>
	
						<div class="col-sm-12">
							<div id="myProgressbar2" class="progress">
								<div class="progress-bar progress-bar-info progress-bar-striped active"
									role="progressbar" aria-valuenow="0" aria-valuemin="0"
									aria-valuemax="100" style="width: 0%">
									<span/>
								</div>
							</div>
						</div>
	
						<div class="col-sm-12">
							<div id="myProgressbar3" class="progress">
								<div class="progress-bar progress-bar-info progress-bar-striped active"
									role="progressbar" aria-valuenow="0" aria-valuemin="0"
									aria-valuemax="100" style="width: 0%">
									<span/>
								</div>
							</div>
						</div>
	
						<div class="col-sm-12">
							<div id="myProgressbar4" class="progress">
								<div class="progress-bar progress-bar-info progress-bar-striped active"
									role="progressbar" aria-valuenow="0" aria-valuemin="0"
									aria-valuemax="100" style="width: 0%">
									<span/>
								</div>
							</div>
						</div>
						
						<div class="col-sm-12">
                            <div id="myProgressbar5" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0%">
                                    <span/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <div id="myProgressbar6" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0%">
                                    <span/>
                                </div>
                            </div>
                        </div>
				    </div>
                </article>
            </div>
        </div>
    </body>
</html>