@font-face {
    font-family: 'glyphiconshalflings';
	src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'fawebfont';
    src: url('../fonts/fontawesome-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../fonts/fontawesome-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar{
    width:100%;
	text-transform: uppercase;
	text-align: center;
}

.navbar-nav {
	display: inline-block;
    float: none;
}

.navbar-nav>li>a {
	padding-bottom: 0 !important;
}

span.hidden-xs {
	display: inline !important;
}

/* ==========================================================================
  Layout 
   ========================================================================== */
#page-contact {
	padding: 50px 0;
	background: #f7f7f7;
}

#page-portfolio {
	padding: 50px 0;
	background: #fff;
}

#page-experience {
	padding: 50px 0;
	background: #f7f7f7;
}

#page-education {
	padding: 50px 0;
	background: #fff;
}

#page-skills {
	padding: 50px 0;
	background: #f7f7f7;
}

#page-profile {
	padding: 50px 0;
	background: #fff;
}

#page-welcome {
	width:100%;
	height:100%;
	text-align: center;
}

#page-welcome header {
	padding-top: 23%;
}

#page-welcome header h1 {
	margin: 0;
	padding: 0;
}

#page-welcome header h2 {
	margin-bottom: 20px;
	letter-spacing: 0.1em;
	color: #ffffff;
}

#page-profile .well{
    position:relative;
    top:0;
    left:0;
    background-image: url('../img/fabric.png');
}

#page-profile .justify-text {
	text-align: justify;
}

#page-profile h3 {
	margin-top:10px !important;
}

#hindiLanguage {
	color: #428bca !important;
	cursor:pointer;
}

#hindiLanguage:hover {
	color: #2a6496 !important;
}

#marathiLanguage {
    color: #428bca !important;
    cursor:pointer;
}

#marathiLanguage:hover {
    color: #2a6496 !important;
}

#gujaratiLanguage {
    color: #428bca !important;
    cursor:pointer;
}

#gujaratiLanguage:hover {
    color: #2a6496 !important;
}

#page-profile .borderless td {
	border:none;
}

#page-profile .profile-topic {
    border-bottom: 1px solid #BCBCBC;
    text-align: right;
    width: 100px;
}

#page-profile .profile-topic h5 {
	margin-top: 0 !important;
    padding-top: 4px;
    width: 100px;
}

#jqueryLogo {
	height: 14px;
	width:14px;
	-webkit-filter: invert(100%);
	/* position:absolute;
	top: 339px;
    left: 21px; */
}

#jqueryuiLogo {
	height: 14px;
    width:14px;
	-webkit-filter: invert(100%);
    /* position:absolute;
    top:341px;
    left:39px; */
}

.interest-logo {
	text-align: right;
}

#myAge {
	opacity:0.80;
}
/* ==========================================================================
   Base styles
   ========================================================================== */
html,body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Lobster',cursive;
    font-size: 4.5em;
    font-weight: 700;
    color: #ffffff;
}

h2,h3,h4,h5,h6 {
	font-family: 'Lobster',cursive;
	color: #555555;
}

h2 {
	font-size:3em;
	font-weight:400;
}

h4 {
	opacity: 0.80;
}

/* ==========================================================================
   Social icons
   ========================================================================== */
.social-icons {
	padding-top: 10px;
	margin-bottom: 35px;
}

.social-icons .btn {
	margin-right: 15px;
}

.btn-round {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0;
	border: 1px solid #fff;
}

.btn-round i {
	font-size: 20px;
	top: 15px;
	position: relative;
}

.btn.btn-clear {
	color: #fff;
	font-weight: bold;
	opacity: 0.6;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.btn.btn-clear:hover,.btn.btn-clear.selected {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

.btn-twitter {
	background-color: #2BA9E0;
}

.btn-facebook{
	background-color: #204385;
}

.btn-linkedin {
	background-color: #015786;
}

.btn-google {
	background-color: #D3492C;
}

.btn-youtube {
	background-color: #C4302B;
}

.btn-github {
	background-color: #171515;
}

.page-contact .social-icons {
	margin-bottom: auto;
	padding-top: 0;
}

.page-contact .social-icons .btn {
	margin-right: 0px;
}

/* ==========================================================================
   Forms
   ========================================================================== */
.contact-me {
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

.contact-me:hover {
	border-color: #fff;
	color: #3498db;
}
/* ==========================================================================
   Dividers
   ========================================================================== */
.section-title {
	padding: 20px 0;
}